<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/styles/home.css">
</head>

<body>
    <div class="navbar">
        <span class="navbar-text">Stock Portfolio Tracker</span>
    </div>

    <div class="add-stock-section">
        <h2>Add Stock</h2>
        <form class="add-stock-form" action="/add" method="post">
            <label for="scrip">SCRIP:</label>
            <input type="text" id="scrip" name="scrip" placeholder="Enter your Company Symbol" required>

            <label for="quantity">Quantity:</label>
            <input type="number" id="quantity" name="quantity" placeholder="Enter Stock Quantity" required>

            <label for="purchasePrice">Purchase Price:</label>
            <input type="number" id="purchasePrice" name="purchasePrice" placeholder="Enter Purchase Price" required>



            <button type="submit">Add</button>
            <button type="reset" id="clearForm" onclick="clear()">Clear</button>
        </form>
    </div>

    <h1>Current Holdings</h1>
    <table>
        <tr>
            <th>SN</th>
            <th>SCRIP</th>
            <th>Qty</th>
            <th>Purchase Price</th>
            <th>Total Investment</th>
            <th>Action</th>
        </tr>


        <% for (let i=0; i < stocks.length; i++) { %>
            <tr>
                <td>
                    <%= i + 1 %>
                </td>
                <td>
                    <%= stocks[i].scrip %>
                </td>
                <td>
                    <%= stocks[i].quantity %>
                </td>
                <td>
                    <%= stocks[i].purchasePrice %>
                </td>
                <td>
                    <%= stocks[i].quantity * stocks[i].purchasePrice %>
                </td>
                <td class="action-buttons">
                    <button> <a href="/update/<%= stocks[i].id %>">Update</a></button>
                    <button> <a href="/delete/<%= stocks[i].id %>">Delete</a></button>
                </td>
            </tr>
            <% } %>
    </table>
    <script>
        function clear() {
            const scrip = document.getElementById("scrip")
            const quantity = document.getElementById("quantity")
            const purchasePrice = document.getElementById("purchasePrice")
            scrip.value = ""
            quantity.value = ""
            purchasePrice.value = ""
        }
    </script>
</body>

</html>